.navbar {
    background-color: transparent;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('/static/landing_img.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;

    height: 825px;
    margin-bottom: 2.5em;
}

.about-us {
    margin-bottom: 3.5em;
}