.modal-content {
    border-radius: 1.25em;
}

.modal-header {
    border: none;
}

.modal-title {
    font-family: Candara;
}

.modal-header .close {
    font-size: 2em;
    padding-top: 0.5em;
}

.login-form {
    font-size: 1.15em;
}

.login-form label {
    font-size: 1rem;
    margin-bottom: 0.25em;
}

.login-button {
    background-color: black;
    font-size: 0.9em;
    width: 100%;
}

.modal-footer {
    justify-content: flex-start;
    border: none;
}