.modal-content {
    border-radius: 1.25em;
}

.modal-header {
    border: none;
}

.modal-title {
    font-family: Candara;
}

.modal-header .close {
    font-size: 2em;
    padding-top: 0.5em;
}

.auth-form {
    font-size: 1.15em;
}

.auth-form label {
    font-size: 1rem;
    margin-bottom: 0.25em;
}

#login-btn,
#signup-btn,
#next {
    font-size: 0.9em;
    width: 100%;
}

.modal-footer {
    justify-content: flex-start;
    border: none;
}

#back {
    font-size: 1.25em;
    margin-top: -0.65em;
    color: #707070;
    display: none;
}