/* our CSS will go here */
@font-face {
    font-family: Candara;
    src: url('../Candara.ttf');
}

@font-face {
    font-family: calibri;
    src: url('../calibri.ttf');
}

body {
    font-family: calibri;
    color: #707070;
    height: 5000px;
}

h1,
h2,
h3,
h4 {
    font-family: Candara;
}

.navbar {
    font-family: Candara;
    background-color: black;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-size: 1.75em;
}

.navbar .form-control {
    font-family: calibri;
    font-size: 1.15em;
    border: none;
}

.nav-link {
    font-size: 1.25em;
}