{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="about-us my-5">
    <h1 class="h1 mb-4"> About Us</h1>
    <p class="lead">
        I need some placeholder text, so I'll put some stuff from our project proposal. This project will manage a car
        rental company website.The website will prompt customers to log in, browse, reserve, and pay for rental cars.
        The company also has a fleet of rental cars that must be maintained and may vary based on the user's selected
        location.We will be able to develop a functional full-stack website that can be modified through database
        queries. The database is built to be modular and easy to maintain as a DBA.
        <br><br> - Roy, Kevin, and Nick from team 8
    </p>
</div>

<div class="car-list">
    <div class="car-list-header mb-4">
        <h2 class="h1"> Try our new cars</h2>

        <form action="">
            <span class="form-check-inline h5"><i class="fa fa-filter mr-2" aria-hidden="true"></i>Price per day</span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="price-low" value="low">
                <label class="form-check-label h5" for="price-low">$0-$75</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="price-mid" value="mid">
                <label class="form-check-label h5" for="price-mid">$75-$150</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="price-high" value="high">
                <label class="form-check-label h5" for="price-high">$150+</label>
            </div>

        </form>
    </div>

    <div class="card-columns">
        {% for i in range(1,15) %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="car-location"><i class="fa fa-map-marker" aria-hidden="true"></i> San Jose, CA</div>
                <div class="car-model h3 mb-0">Some Toyota Car</div>
                <div class="car-price h5">$85/day</div>
                <div class="car-mileage">
                    Mileage: 15,157
                    <button class="btn text-light px-4 py-1">Reserve</button>
                </div>
            </div>

            <img class="card-img-bottom" src="{{ url_for('static', filename='sedan.png') }}.." alt="car">
        </div>
        {%endfor%}
    </div>

</div>
{% endblock %}