{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="about-us my-5">
    <h1 class="h1 mb-4"> About Us</h1>
    <p class="lead">
        I need some placeholder text, so I'll put some stuff from our project proposal. This project will manage a car
        rental company website.The website will prompt customers to log in, browse, reserve, and pay for rental cars.
        The company also has a fleet of rental cars that must be maintained and may vary based on the user's selected
        location.We will be able to develop a functional full-stack website that can be modified through database
        queries. The database is built to be modular and easy to maintain as a DBA.
        <br><br> - Roy, Kevin, and Nick from team 8
    </p>
</div>

<div class="car-list">
    <div class="car-list-header mb-4">
        <h2 class="h1">Try our new cars</h2>

        <form action="" method="GET" class="form-inline">
            <div class="form-group mr-2">
                <select class="form-control" id="location" name="location">
                    <option value="">All Locations</option>
                    {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.city }}, {{ location.state }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mr-2">
                <select class="form-control" id="manufacturer" name="manufacturer">
                    <option value="">All Manufacturers</option>
                    {% for manufacturer in manufacturers %}
                    <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mr-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="mileage_min" name="mileage_min" placeholder="Min Mileage">
                    <div class="input-group-append input-group-prepend">
                        <span class="input-group-text">to</span>
                    </div>
                    <input type="number" class="form-control" id="mileage_max" name="mileage_max" placeholder="Max Mileage">
                </div>
            </div>

            <div class="form-group mr-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="price_min" name="price_min" placeholder="Min Price">
                    <div class="input-group-append input-group-prepend">
                        <span class="input-group-text">to</span>
                    </div>
                    <input type="number" class="form-control" id="price_max" name="price_max" placeholder="Max Price">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        {% if location_id or manufacturer or mileage_min or mileage_max or price_min or price_max %}
        <div class="active-filters mt-3">
            <h5>Active Filters:</h5>
            <ul class="list-inline">
                {% if location_id %}
                <li class="list-inline-item">Location: {{ location.city }}, {{ location.state }}</li>
                {% endif %}
                {% if manufacturer %}
                <li class="list-inline-item">Manufacturer: {{ manufacturer }}</li>
                {% endif %}
                {% if mileage_min and mileage_max %}
                <li class="list-inline-item">Mileage: {{ mileage_min }} - {{ mileage_max }}</li>
                {% elif mileage_min %}
                <li class="list-inline-item">Mileage: >= {{ mileage_min }}</li>
                {% elif mileage_max %}
                <li class="list-inline-item">Mileage: <= {{ mileage_max }}</li>
                {% endif %}
                {% if price_min and price_max %}
                <li class="list-inline-item">Price per Hour: ${{ price_min }} - ${{ price_max }}</li>
                {% elif price_min %}
                <li class="list-inline-item">Price per Hour: >= ${{ price_min }}</li>
                {% elif price_max %}
                <li class="list-inline-item">Price per Hour: <= ${{ price_max }}</li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="card-columns">
        {% for car in cars %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="car-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ car.location.city }},
                    {{ car.location.state }}</div>
                <div class="car-model h3 mb-0">{{ car.make }} {{ car.model }}</div>
                <div class="car-price h5">${{ car.price_per_hour }}/hour</div>
                <div class="car-mileage">
                    Mileage: {{ car.mileage }}
                    <button class="btn text-light px-4 py-1" data-toggle="modal"
                        data-target=".login-popup">Reserve</button>
                </div>
            </div>

            <img class="card-img-bottom" src="{{ car.photo_url }}" alt="{{ car.make }} {{ car.model }}">
        </div>
        {% endfor %}
{#        {% for i in range(0,2) %}#}
{#        {% include "/includes/car_gridview.html" %}#}
{#        {% endfor %}#}

    </div>

    {% include "/includes/login_popup.html" %}

</div>
{% endblock %}