<div class="row mx-0 justify-content-center">
    <span class="pickup-time mr-3 mb-1">
        <i class="fa-solid fa-calendar mr-1"></i>
        04/28/2024 10:00PM
    </span>

    <span class="dropoff-time ml-3 mb-1">
        <i class="fa-solid fa-calendar mr-1"></i>
        04/30/2024 10:00PM
    </span>
</div>
<div class="card mb-4">
    <div class="card-body row pt-3 pb-4">
        <div class="col-6">
            <div class="car-price h6" style="margin-bottom: -0.15em">$188.28</div>
            <h4 class="car-model mb-0">Some Toyota Car</h4>
            <div class="car-location mt-2"><i class="fa-solid fa-location-dot mr-1"></i>
                1 Washington Sq, San Jose, CA</div>
        </div>
        <!-- <div class="car-mileage">
            Mileage: 15,157
            <button class="btn text-light px-4 py-1" onclick="location.href='/payment';">Reserve</button>
        </div> -->
        <img class="car-img col-6"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg/1200px-2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg"
            alt="car">
    </div>
</div>