<div class="card mb-4">
    <div class="card-body">
        <div class="car-location"><i class="fa-solid fa-location-dot"></i></i> San Jose, CA</div>
        <div class="car-model h3 mb-0">Some Toyota Car</div>
        <div class="car-price h5">$85/day</div>
        <div class="car-mileage">
            Mileage: 15,157
            {% if current_user.is_authenticated %}
            <button class="btn text-light px-4 py-1" onclick="location.href='/payment';">Reserve</button>
            {% else %}
            <button class="btn text-light px-4 py-1" data-toggle="modal" data-target="#login-popup">Reserve</button>
            {% endif %}

        </div>
    </div>

    <img class="card-img-bottom" src="{{ url_for('static', filename='sedan.png') }}.." alt="car">
</div>