<div class="modal" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="login-popup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 435px;" role="document">
        <div class="modal-content py-2 px-3">
            <div class="modal-header pb-0">
                <div>
                    <h2 class="modal-title" id="login">Login</h2>
                    <div class="info">
                        <i class="fa fa-info-circle mr-1" aria-hidden="true"></i>
                        <span class="info-text"> Login is requried to make a reservation</span>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeForm()>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="auth-form">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="login-email" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" name="password" />
                    </div>
                    <button class="btn btn-dark mt-3" id="login-btn">Login</button>
                </form>
            </div>
            <div class="modal-footer pt-0 pb-4">
                <p>Don't have an account?
                    <a href="/" data-toggle="modal" data-dismiss="modal" data-target="#signup-popup">Create one</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% include "/includes/signup_popup.html" %}

{% block javascript %}
<script>
    const loginModal = document.getElementById("login-popup");
    const loginForm = document.getElementsByClassName("auth-form")[0];
    const loginInfo = document.getElementsByClassName("info-text")[0];

    const observer1 = new MutationObserver(() => { loginForm.reset() });
    observer1.observe(loginModal, { attributes: true, attributeFilter: ["class"] });

    loginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        $.ajax({
            url: "/login",
            method: "POST",
            data: {
                email: $('#login-email').val(),
                password: $('#login-password').val()
            },
            success: (data) => {
                if (data.error) loginInfo.innerHTML = data.error
                else document.location.href = "/"
            }
        })
    })
</script>
{% endblock%}