<div class="modal" id="payment-success-popup" tabindex="-1" role="dialog" aria-labelledby="payment-success-popup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 435px;" role="document">
        <div class="modal-content py-2 px-3">
            <div class="modal-header pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeForm()>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center mb-4">
                <i class="fa-solid fa-circle-check mb-3" style="font-size: 5em;"></i>
                <h3>Reservation Accepted</h3>
                <p>You will be directed to My Reservations Page</p>
            </div>
        </div>
    </div>
</div>