<div class="modal fade login-popup" tabindex="-1" role="dialog" aria-labelledby="login-popup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-2 px-3">
            <div class="modal-header pb-2">
                <div>
                    <h2 class="modal-title" id="login">Login</h2>
                    <div class="info"><i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Login is requried to
                        make a reservation
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter password" />
                    </div>
                    <button class="login-button btn text-white" type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>